::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
::-webkit-scrollbar-track {
  background: white;
}
::-webkit-scrollbar-thumb {
  background: #ddd;
  visibility:hidden;
}
:hover::-webkit-scrollbar-thumb {
  visibility:visible;
}